@use '../CharacterCard/characterCard.module.scss' as card;

$min-col-width: calc(card.$width + 2vw);

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($min-col-width, 1fr));
  grid-row-gap: max(5vh, 2vw);
  grid-column-gap: 2vw;
  justify-items: center;
  padding-top: 48px;

  .cardTransition {
    transition: opacity ease-in 700ms, transform ease-in 700ms;

    &-enter {
      opacity: 0;
      transform: scale(0);
    }

    &-enter-done {
      opacity: 1;
      transform: scale(1);
    }
  }
}
