@use 'sass:math';
@use './variables.scss' as vars;

@function strip-unit($value) {
  @return math.div($value, ($value * 0 + 1));
}

// https://css-tricks.com/snippets/css/fluid-typography/
@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
            calc((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

// https://css-tricks.com/snippets/sass/mixin-manage-breakpoints/
@mixin matches-breakpoint($breakpoint) {
  @if map-has-key($map: vars.$breakpoints, $key: $breakpoint) {
    @media #{inspect(map-get(vars.$breakpoints, $breakpoint))} {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

@mixin h-coloring {
  color: vars.$color_blue;
  -webkit-text-stroke: 0.1px vars.$color_black;
  text-shadow: 0 0 8px vars.$color_green;
}

@mixin h2-like {
  font-family: 'Get Schwifty';
  font-size: vars.$mobile_font_mod * vars.$mobile_font_mod *
    vars.$mobile_font_mod * 1rem;
  @include fluid-type(
    vars.$min_width,
    vars.$max_width,
    vars.$mobile_font_mod * vars.$mobile_font_mod * vars.$mobile_font_mod *
      vars.$min_font,
    vars.$desktop_font_mod * vars.$desktop_font_mod * vars.$desktop_font_mod *
      vars.$min_font
  );
}

@mixin h3-like {
  font-family: 'Get Schwifty';
  font-size: vars.$mobile_font_mod * vars.$mobile_font_mod * 1rem;
  @include fluid-type(
    vars.$min_width,
    vars.$max_width,
    vars.$mobile_font_mod * vars.$mobile_font_mod * vars.$min_font,
    vars.$desktop_font_mod * vars.$desktop_font_mod * vars.$min_font
  );
}

@mixin h4-like {
  font-family: 'Get Schwifty';
  font-size: vars.$mobile_font_mod * vars.$mobile_font_mod * 1rem;
  @include fluid-type(
    vars.$min_width,
    vars.$max_width,
    vars.$mobile_font_mod * vars.$min_font,
    vars.$desktop_font_mod * vars.$min_font
  );
}

@mixin underline-after {
  &:after {
    content: '';
    position: absolute;
    width: 50%;
    height: 2px;
    bottom: 20%;
    left: 25%;
    background-color: vars.$color_black;
    @content;
  }
}

@mixin underline-on-hover {
  @include underline-after {
    transform: scaleX(0);
    transition: transform 0.25s ease-out;
  }

  &:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
