$min_width: 320px;
$max_width: 1920px;

$min_font: 16px;
$max_font: 24px;

// modificators for fluid headers
$mobile_font_mod: 1.2;
$desktop_font_mod: 1.5;

$breakpoints: (
  "s": (
    min-width(576px),
  ),
  "m": (
    min-width(768px),
  ),
  "l": (
    min-width(992px),
  ),
  "xl": (
    min-width(1200px),
  ),
) !default;

// navigation
$navbar_height: 64px;

// spacing
$spacing_mobiles: 16px;
$spacing_desktop: 32px;

// colors
$color_rm_blue: #23a2bd;
$color_rm_green: #82fc58;
$color_white: #fff;
$color_white_semi_transparent: #ffffff80;