$min_width: 320px;
$max_width: 1920px;

$min_font: 16px;
$max_font: 24px;

// modificators for fluid headers
$mobile_font_mod: 1.2;
$desktop_font_mod: 1.5;

/* prettier-ignore */
$breakpoints: (
  "s": (
    min-width(576px),
  ),
  "m": (
    min-width(768px),
  ),
  "l": (
    min-width(992px),
  ),
  "xl": (
    min-width(1200px),
  ),
) !default;

// navigation
$navbar_height: 64px;

// spacing
$spacing_base: 8px;
$spacing_mobiles: 16px;
$spacing_desktop: 32px;

// colors
$color_blue: #23a2bd;
$color_green: #82fc58;
$color_black: #000;
$color_gray_dark: #404040;
$color_gray_medium: #808080;
$color_gray_light: #bfbfbf;
$color_gray_light_90_transparent: #bfbfbf0a;
$color_white: #fff;
$color_white_semi_transparent: #ffffff80;
$color_transparent: #ffffff00;

$border_radius: 8px;

// z-index
$z_index_background: -1;
$z_index_base: 0;
$z_index_foregroud: 1;

// box-shadow
$box_shadow: 2px 2px 8px $color_white_semi_transparent;
