@use "styles/variables.scss" as vars;
@use "styles/mixins.scss";

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: vars.$navbar_height;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.4);
}
