@use "styles/variables.scss" as vars;
@use "styles/mixins.scss";
@import 'styles/normalize.scss';

@font-face {
  font-family: 'Get Schwifty';
  src: local('Get Schwifty'),
    url(./assets/fonts/get_schwifty.ttf) format('truetype');
}

html {
  background: url('./assets/images/background.jpg') no-repeat center center
    fixed;
  background-size: cover;
  background-color: black;
  @include mixins.fluid-type(
    vars.$min_width,
    vars.$max_width,
    vars.$min_font,
    vars.$max_font
  );
}

body,
#__root {
  min-width: vars.$min_width;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Get Schwifty';
}

h1 {
  font-size: vars.$mobile_font_mod * vars.$mobile_font_mod *
    vars.$mobile_font_mod * vars.$mobile_font_mod * 1rem;
  @include mixins.fluid-type(
    vars.$min_width,
    vars.$max_width,
    vars.$mobile_font_mod * vars.$mobile_font_mod * vars.$mobile_font_mod *
      vars.$min_font,
    vars.$desktop_font_mod * vars.$desktop_font_mod * vars.$desktop_font_mod *
      vars.$min_font
  );
}
h2 {
  font-size: vars.$mobile_font_mod * vars.$mobile_font_mod *
    vars.$mobile_font_mod * 1rem;
  @include mixins.fluid-type(
    vars.$min_width,
    vars.$max_width,
    vars.$mobile_font_mod * vars.$mobile_font_mod * vars.$mobile_font_mod *
      vars.$min_font,
    vars.$desktop_font_mod * vars.$desktop_font_mod * vars.$desktop_font_mod *
      vars.$min_font
  );
}
h3 {
  font-size: vars.$mobile_font_mod * vars.$mobile_font_mod * 1rem;
  @include mixins.fluid-type(
    vars.$min_width,
    vars.$max_width,
    vars.$mobile_font_mod * vars.$mobile_font_mod * vars.$min_font,
    vars.$desktop_font_mod * vars.$desktop_font_mod * vars.$min_font
  );
}
