@use 'styles/variables.scss' as vars;
@use 'styles/mixins.scss';

.link {
  display: inline-flex;
  position: relative;
  text-decoration: none;
  color: vars.$color_black;

  &.isActive {
    @include mixins.underline-after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}

.text {
  @include mixins.h3-like;
  font-weight: vars.$font_weight_regular;
}
